<div class="container mt-3">
  <div>
    <h2>Modifier un Produit :</h2>
  </div>
  <form>
    <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
      <label for="idProduit">ID Produit</label>
      <input readonly type="text" [(ngModel)]="currentProduit.idProduit" name="idProduit" class="form-control" id="idProduit">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
      <label for="nomProduit">Nom Produit</label>
      <input type="text" [(ngModel)]="currentProduit.nomProduit" name="nomProduit" class="form-control" id="nomProduit">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
      <label for="prixProduit">Prix Produit (€)</label>
      <input type="number" [(ngModel)]="currentProduit.prixProduit" name="prixProduit" class="form-control" id="prixProduit">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
      <label for="dateCreation">Date création</label>
      <input type="date" [ngModel]="currentProduit.dateCreation | date: 'yyyy-MM-dd'"
        (ngModelChange)=" currentProduit.dateCreation= $event" name="dateCreation" class="form-control" id="dateCreation">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
      <label for="idCat">Catégorie</label>
      <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="updatedCatId">
        <option *ngFor="let cat of categories" [value]="cat.idCat">
          {{cat.nomCat}}
        </option>
      </select>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 mb-3">
      <label class="mb-2">Image :</label>
      <input type="file" (change)="onImageUpload($event)" class="form-control border-0">
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 mb-2">
      <img [src]="myImage" class="card-img-top img-fluid rounded-start" style="width: 300px;" />
    </div>
    <div class="mb-2">
      <button type="submit" (click)="onAddImageProduit()" class="btn btn-success">Ajouter Image</button>
    </div>
    <div class="card shadow col-sm-8 col-md-8 col-lg-8 mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Images</th>
            </tr>
          </thead>
          <tbody *ngFor="let img of currentProduit.images">
            <tr>
              <td>
                <img (click)="zoomerImage(img)" class="card-img-top img-responsive" src="{{'data:' + img.type + ';base64,' + img.image}}"
                style="height : 100px; width: 120px; object-fit: cover; cursor: pointer">
              </td>
              <td style="width: 20%"><a class="btn btn-danger" (click)="deleteImage(img)">Supprimer</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
      <button 
        type="submit" 
        (click)="updateProduit()" 
        class="btn btn-success"
        [disabled]="!currentProduit.nomProduit || !currentProduit.prixProduit || !currentProduit.dateCreation || !updatedCatId"
        >Modifer
      </button>
    </div>
    <!-- @if (message) {} - v17+ -->
    <div *ngIf="message" class="alert alert-success alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{message}}
    </div>
  </form>
</div>